language = "bash"
run = "mcs -out:main.exe 'FinalProject/aluno.cs' 'FinalProject/arquivo.cs' 'FinalProject/consulta.cs' 'FinalProject/disciplina.cs' 'FinalProject/livro.cs' 'FinalProject/main.cs' 'FinalProject/operacao.cs' 'FinalProject/sistema.cs'; mono main.exe"